<% content_for :title, "BGapp | Sign Up" %>

<div class="bg-gray-100 min-h-screen flex items-center justify-center">
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'space-y-4' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.label :email, class: 'block text-sm font-medium text-gray-600' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'mt-1 p-2 w-full border rounded-md' %>
      </div>
    
      <div class="field">
        <%= f.label :password, class: 'block text-sm font-medium text-gray-600' %>
        <% if @minimum_password_length %>
          <em class="text-xs text-gray-500">( <%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'mt-1 p-2 w-full border rounded-md' %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation, class: 'block text-sm font-medium text-gray-600' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'mt-1 p-2 w-full border rounded-md' %>
      </div>
    
      <div class="actions mt-6">
        <%= f.submit "Sign up", class: 'w-full p-2 text-center text-white rounded-md hover:bg-blue-700', style: 'background-color: #3778c2;' %>
      </div>
    <% end %>
    
    <div class="mt-4 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
