<!-- app/views/categories/show.html.erb -->
<% content_for :title, "BGapp | Category Operations" %>
<div class="bg-gray-100 min-h-screen p-6">
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-2xl mx-auto">
    <h2 class="text-2xl font-semibold mb-6 text-center"><%= @category.name %></h2>


    <div class="flex justify-between items-center border-b pb-4 mb-4">
      <div>
        <strong>Total:</strong>
      </div>
      <span><strong>$<%= @operations.sum(:amount) %></strong></span>
    </div>

    <% @operations.each do |operation| %>

      <div class="flex justify-between items-center border-b pb-4 mb-4">
        <div>
          <%= operation.name %>
        </div>
        <span>$<%= operation.amount %></span>
      </div>
    <% end %>

    <%= link_to "Add a new operation", new_category_operation_path(@category), class: "block w-full p-2 text-center text-white rounded-md hover:bg-blue-700 mt-4", style: "background-color: #3778c2;" %>
    <%= link_to "Back", categories_path, class: "block w-full text-center text-white mt-4 rounded py-2", style: 'background-color: #434b54;', onmouseover: "this.style.backgroundColor='#626f7a'", onmouseout: "this.style.backgroundColor='#434b54'" %>
  </div>
</div>
