<% content_for :title, "BGapp | Operations" %>
<div class="bg-gray-100 min-h-screen p-6">
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-md mx-auto">
    <h2 class="text-2xl font-semibold mb-6 text-center">Operations for <%= @category.name %></h2>
    <p class="text-xl text-center mb-4">Total Amount: <%= @total_amount %></p>

    <ul>
      <% @operations.each do |operation| %>
        <li class="border-b py-2 flex justify-between">
          <span><%= operation.name %></span>
          <span><%= operation.amount %></span>
        </li>
      <% end %>
    </ul>

    <div class="mt-6">
      <%= link_to "Add New Operation", new_category_operation_path(@category), class: "block w-full text-center text-white rounded py-2", style: 'background-color: #3778c2;', onmouseover: "this.style.backgroundColor='#3b82f6'", onmouseout: "this.style.backgroundColor='#3778c2'" %>
      <%= link_to "Back", categories_path, class: "block w-full text-center text-white mt-4 rounded py-2", style: 'background-color: #434b54;', onmouseover: "this.style.backgroundColor='#626f7a'", onmouseout: "this.style.backgroundColor='#434b54'" %>
    </div>
  </div>
</div>
